@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255, .85;
    --background-start-rgb: 36, 36, 36, 1;
    --background-end-rgb: 36,36,36,1;
  }
}

body {
  max-width: min(100vw, 450px);
  min-width: 280px;
  max-height: min(100vh, 700px);
  margin: 0 auto;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
